#videoaulasneri {
	background-color: yellow;
	color: green;	
}
th {
	background-color: #fdf1cb;
}

h1 {
	font-size: 50px;
	color: #fdf1cb;
	font-weight: bold;
	text-shadow: 0px 3px #b2a98f,
	             0px 15px 10px rgba(0,0,0,0.4),
	             0px 15px 2px rgba(0,0,0,0.1),
	             0px 15px 30px rgba(0,0,0,0.1)
}

