<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head>
    <meta charset="utf-8">
   
  </head>

  <body >
	<section class="layout-content" layout:fragment="corpo">
    	<div class="container">
    	<br/>
           <nav class="navbar navbar-expand-md bg-dark">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                       
	                        <span class="tituloForm">Consultar Fornecedor</span>
	                    </li>
	                </ul>
	            </div>
	            <a class="btn btn-primary btn-md" href="/cadastros/fornecedor/consultar" role="button">
	                <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
	                <span>Consultar fornecedores</span>
	            </a>
	        </nav>
	           <br/>
	            <br/>
			 <div class="container" id="listagem">
	       
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th>Empresa</th>
	                        <th>CNPJ</th>
	                        <th>Inscrição Estadual</th>
	                        <th>Endereço</th>
	                        <th>Email</th>
	                        <th>Telefone</th>
	                        <th></th>
	                    </tr>
	                    </thead>
	             			 	<tr>
	                        <td>1</td>
	                        <td>Perdigão</td>
	                        <td>00.000.000/0000-00</td>
	                        <td>111.111.111.111</td>
	                         <td>
	                            <button type="button" class="btn btn-secondary btn-sm" data-container="body"
	                                    data-toggle="popover" data-placement="top"
	                                    data-content="Rua das Oliveiras, 260 Fundos - Centro, Porto Alegre - RS - 97050-015">
	                                <span class="oi oi-eye" title="Visualizar" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                        <td>perdigao@gmail.com</td>
	                        <td>(13)997432212</td>
	                       
	                        
	                        <td colspan="2">
	                            <a class="btn btn-info btn-sm" href="/funcionarios/editar/1" role="button">
	                                <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
	                            </a>
	                            <button id="btn_funcionarios/excluir/1" type="button" class="btn btn-danger btn-sm"
	                                    data-toggle="modal" data-target="#myModal">
	                                <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                    </tr>
	                    	<tr>
	                        <td>1</td>
	                        <td>Sadia</td>
	                        <td>00.000.000/0000-00</td>
	                        <td>111.111.111.111</td>
	                         <td>
	                            <button type="button" class="btn btn-secondary btn-sm" data-container="body"
	                                    data-toggle="popover" data-placement="top"
	                                    data-content="Rua das Oliveiras, 260 Fundos - Centro, Porto Alegre - RS - 97050-015">
	                                <span class="oi oi-eye" title="Visualizar" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                        <td>sadia@gmail.com</td>
	                        <td>(13)997432212</td>
	                       
	                        
	                        <td colspan="2">
	                            <a class="btn btn-info btn-sm" href="/funcionarios/editar/1" role="button">
	                                <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
	                            </a>
	                            <button id="btn_funcionarios/excluir/1" type="button" class="btn btn-danger btn-sm"
	                                    data-toggle="modal" data-target="#myModal">
	                                <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                    </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	       
	    </section>
</body>
</html>		