<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
 				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
  <head>
	<title>Sistema de venda com controle de estoque</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" th:href="@{/image/favicon.png}" />

	<!-- Bootstrap core CSS -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	
	
	<!-- Custom styles for this template -->
	<link th:href="@{/css/meuEstilo.css}" rel="stylesheet" />
	<link th:href="@{/css/carousel2.css}" rel="stylesheet" />
  </head>

  <body>
  		<div class="container">
  		
  		<div th:replace="fragments/menus :: menu">
  		</div>
 		
		<section layout:fragment="corpo">
			<div></div>
			</section>	
		
		
		<div th:replace="fragments/footer :: footer"> </div>
	
		</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

	<script type="text/javascript">
	    
		var url ='';
		$('button[id*="btn_"]').click(function(){
			url = "/" + $(this).attr('id').split("_")[1];			
		});
		
		$('#ok_confirm').click(function(){
			document.location.href= url;
		});
	
		$(function() {
			$('[data-toggle="popover"]').popover();
		});
		
		$(document).ready(function(){
		    $(".navbar-toggle").click(function(){
		        $(".sidebar").toggleClass("sidebar-open");
		    })
		});

	</script>
  </body>
</html>
